<h2  class="text-center">Usuarios Registrados</h2>

<!-- <div class="card-deck text-center" style="width: 25rem;">  -->
<div class="card-deck text-center"> 
    <div class="card" *ngFor="let user of users">
       <div class="card-body">
           <p class="card-text">Name: {{ user.name }} </p> 
           <p class="card-text">E-mail: {{ user.email }} </p>
           <p class="card-text">Password: {{ user.password }} </p>
       </div>
    </div>
</div>
