<div style="text-align:center">

    <h4>Ingresa tus datos para registrarte</h4>
    <hr>
    <form class="container mt-5" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="register()">

        <div class="form-group">
            <label for="name" >Name:
                <input
                    class="form-control"  
                    type="text" 
                    name="name" 
                    formControlName="name"
                    [class.is-invalid]="nameNoValid"
                />
                <small *ngIf="nameNoValid" class="text-danger">
                    Mínimo 3 letras
                </small>
            </label>
            
        </div>

        <div class="form-group">
            <label for="email">E-mail:
                <input 
                    name="email" 
                    class="form-control" 
                    type="email" 
                    formControlName="email"
                    [class.is-invalid]="emailNoValid"
                />
                <small *ngIf="emailNoValid" class="text-danger">
                    Debe terminar en @g**il.co*
                </small>
            </label>
        </div>

        <div class="form-group">
            <label for="password">Password:
                <input 
                    name="password" 
                    class="form-control" 
                    type="password" 
                    formControlName="password" 
                    [class.is-invalid]="passwordNoValid"
                />
                <small *ngIf="passwordNoValid" class="text-danger">
                    Mínimo 3 letras
                </small>
            </label>
        </div>

        <button type="submit" class="btn btn-outline-success">Restister</button>

    </form>
    <hr>
    <pre>
        Estado del Formulario: {{ formGroup.valid }}
        <br>
        Status: {{ formGroup.status }}
    </pre>
    <pre>
       {{ formGroup.value | json }}
    </pre>
</div>
    